$ORIGIN {{ZONE}}
$TTL 3600

@ IN SOA {{NS}} hostmaster.{{ZONE}} (
  {{SERIAL}} ; serial
  3600       ; refresh
  900        ; retry
  1209600    ; expire
  3600       ; minimum
)

@ IN NS {{NS}}
ns1 IN A {{IPV4}}
_dns.ns1 IN SVCB 1 ns1 alpn=h2 dohpath=/dns-query{?dns}
@ IN A {{IPV4}}
www IN A {{IPV4}}
_443._tcp IN TLSA 3 1 1 {{TLSA}}
@ IN TXT "hns-dane-appliance={{VERSION}}"
